{% load static %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <img class="logo" src="{% static 'img/logo-grey2.png' %}" alt="Logo">
            </div>
            <div class="col-lg-10">
                <div class="nav">
                    <ul>
                        <li>
                            <a href="{% url 'main' %}">Главная</a>
                        </li>
                        <li>
                            <a href="#">Контакты</a>
                        </li>
                        <li>
                            <a href="{% url 'user:login' %}">Вход</a>
                        </li>
                        <li>
                            <a href="#">О проекте</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>