ittandem/__pycache__/secrets.cpython-37.pyc

ittandem/secrets.py

ittandem/db.sqlite3

ittandem/ittandem/__pycache__/__init__.cpython-37.pyc

ittandem/ittandem/__pycache__/settings.cpython-37.pyc

ittandem/ittandem/__pycache__/

ittandem/mainapp/migrations/0001_initial.py

ittandem/mainapp/migrations/__pycache__/__init__.cpython-37.pyc