{% extends 'mainapp/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-3 d-flex flex-column justify-content-center">
                <div class="user-avatar">
                    <img src="{% if user.avatar %}
                        /media/{{ user.avatar }}
                        {% else %}
                            https://im0-tub-ru.yandex.net/i?id=4623c59b0da60739693b1c3e7d21799a-l&n=13x
                    {% endif %}"
                         alt="user-avatar"
                         class="rounded-2">
                </div>
                <a href="#" class="btn btn-danger">Обменяться контактами</a>

            </div>
            <div class="col-9">
                <ul class="nav nav-tabs profile-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Профиль</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Проекты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Контакты</a>
                    </li>
                </ul>
                <div class="profile-data">
                    <div class="profile-name">{{ user.username }}</div>
                    <p class="profile-fullname">{{ user.first_name }} {{ user.last_name }}</p>
                    <p class="profile-text">{{ user.about_me }}</p>
                    <div class="profile-tags">
                        Навыки:
                        <ul class="list-inline">
                            <li class="list-inline-item"><span class="badge badge-warning">JavaScript</span></li>
                            <li class="list-inline-item"><span class="badge badge-warning">ReactJS</span></li>
                            <li class="list-inline-item"><span class="badge badge-warning">TypeScript</span></li>
                        </ul>
                    </div>
                    <div class="profile-tags">
                        Цели:
                        <ul class="list-inline">
                            <li class="list-inline-item"><span class="badge badge-warning">Java</span></li>
                            <li class="list-inline-item"><span class="badge badge-warning">opensource</span></li>
                        </ul>
                    </div>
                    <p class="profile-tags"></p>
                </div>
            </div>
        </div>


    </div>
{% endblock %}