{% extends 'mainapp/base.html' %}
{% load i18n %}
{% block content %}

 <div>

        <h5>Название проекта:</h5>
     <br>
        <p>{{ project.name }}</p>
        <hr>
        <p style="font-weight: bold">Описание:</p>
            <p>
                {{ project.desc }}
            </p>
        <hr>
        <p>Технологии: </p>
        {% for tag in project.tags.all %}
            <p>{{ tag.name }}</p>
            <hr>

        {% endfor %}
         {% if request.user.id == project.owner.id %}
            <a href="{% url 'project:ProjectUpdate' project.id %}" >{% trans 'Редактировать' %} </a>
            <a href="{% url 'project:ProjectDelete' project.id %}" >{% trans 'Удалить' %} </a>
        {% endif %}
 </div>



{% endblock %}