{% extends 'mainapp/base.html' %}
{% load staticfiles %}


{% block content %}
    <form class="form-horizontal" action="{% url 'authapp:edit' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ edit_form.as_p }}
        <input class="form-control" type="submit" value="сохранить">
    </form>
    <button class="btn btn-round form-control last">
        <a href="{% url 'main:index' %}" class="">
            на главную
        </a>
    </button>
    <div class="user_avatar"><img style="height: 220px;width: 200px;" src="/media/{{ user.avatar }}"></div>
{% endblock %}