{% extends 'mainapp/base.html' %}

{% block content %}
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <i class="fa fa-user" style="font-size: 25px; margin-top: 10px;"></i>
        </div>

        <!-- Login Form -->
        <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="Логин">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="Пароль">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Забыли пароль?</a>
        </div>

    </div>
</div>

{% endblock %}