{% extends 'mainapp/base.html' %}
{% load static %}
    {% block css %}

        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
    {% endblock %}

{% block content %}
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <i class="fa fa-user" style="font-size: 25px; margin-top: 10px;"></i>
        </div>

        <!-- Login Form -->
        <form action="{% url 'authapp:login' %}" method="post">
            {% csrf_token %}
            {{ login_form.as_p}}
            <input type="submit" class="fadeIn" value="Log In">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Забыли пароль?</a>
        </div>

    </div>
</div>

{% endblock %}