{% extends 'mainapp/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

{% endblock %}
{% block content %}
<div class="container">
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Создайте аккаунт</h4>
            <p class="text-center">Начните своё обучение</p>
            <p>
                <a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   Логин с Twitter</a>
                <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Логин с facebook</a>
            </p>
            <p class="divider-text">
                <span class="bg-light">Или</span>
            </p>
            <form class="form-horizontal" action="{% url 'authapp:register' %}" method="post"
                  enctype="multipart/form-data">
                {% csrf_token %}
                {{ register_form.as_p }}
                <br>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Создать аккаунт</button>
                </div>
            </form>
        </article>
    </div> <!-- card.// -->

</div>

{% endblock %}